html, body{
    height: 100%;
}
body{
    font-family: 'Raleway', sans-serif;
    color: white;
    background: rgb(73,0,168);
    background: linear-gradient(180deg, rgba(73,0,168,1) 10%, rgba(9,9,121,1) 83%, rgba(2,0,36,1) 98%);
}
.foto-destaque{
    width: 100px;
    border-radius: 50%;
    border: white solid 3px;
    box-shadow: 0 0 20px 0;
}
.container{
    margin-top: 20px;
    text-align: center;
}
h1{
    /*font-family: 'Architects Daughter', cursive;*/
    font-family: 'Scheherazade New', serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0;
}
p{
    text-align:left ;
    margin: 10px;
    
}
.voltar{
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0 10px 0;   
    height: auto;
    width: 100px; 
    text-align: center;
    margin-top: 300px;
}
.voltar a{
    font-size: 20px;
    text-decoration: none;    
}