html, body{
    height: 100%;
}
body{
    font-family: 'Raleway', sans-serif;
    color: white;
    background: rgb(73,0,168);
    background: linear-gradient(180deg, rgba(73,0,168,1) 10%, rgba(9,9,121,1) 83%, rgba(2,0,36,1) 98%);

}
.foto-perfil{
    width: 80px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0px 0px 20px;
}
h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 30px;   
    margin-bottom: 1px;
}
h2{
  font-size: 18px; 
  font-style: italic;
  margin-top: 1%; 
}
.container{
    margin-top: 20px;
    text-align: center;
}
.social{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0%;
}
.social img{      
    width: 35px;    
    margin-top: 10px;
}
.links-list{
list-style: none;
padding-left: 0%;
}
.links-list li{
    margin: 30px 20px;  
    box-shadow: 0 0 10px 0;
}
.links-list li a{
text-align: center;
display: block;    
background: white;
padding: 15px 20px;
border-radius: 4px;
text-decoration: none;
color:rgb(73,0,168);
font-weight: bold;

}

