*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/img/fundo.png);
    background-size: cover;
    margin: 0px;
}
.container{
    background-color: rgb(255, 255, 255);
}
.foto-container{
    text-align: center;
}
.foto-perfil{
    margin-top: 20px;
    text-align: center;
    width: 100px;
    border-radius: 150%;
    border: 3px solid white;
    padding: 3px;
}
h1{ 
    margin-top: 20px;
    margin-bottom: 5px;
    color: #fff;
    font-family: "Montserrat",Sans-serif;
    font-size: 16px;
    
}
h2{
    font-family: "Montserrat",Sans-serif;
    color: #9e9e9e;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 30px;
   
}
.links{  
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0 100px;
    font-family: 'Raleway', sans-serif;  
}
.links li a{
    text-align: center; 
}
.links img{   
    text-align: center;
    width: 80px;
    /*box-shadow: 0 0 1px 0 white;
    border: 2px solid white;
    border-radius: 50px;*/
}
.links li a:hover{
    border-bottom: 3px solid blue;   
}

.margem {    
  text-align: center;   
}
.container{
    background-color: rgb(255, 255, 255);
    border-radius: 30px 30px 0 0;
    height: 1050px; 
}
.container p{
    /* paragrafo do sobre */
    text-align: justify;
}
.container h3{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: normal;
    padding: 20px 0;
    text-align: left;  
}
.navbar{
    padding-top: 20px;
    text-align: center;
    margin: auto;   
    width: 300px;
}
.skills{
    display: flex;
    justify-content: space-between;
}
.skills li img{
    width: 70px;
}
.skills li p{
    text-align: center;
}
/*       skills1       */
.skills1{
    display: flex;
    justify-content: space-between;
}
.skills1 li img{
    width: 70px;
}
.skills1 li p{
    text-align: center;
}
/*       skills1       */
.navbar li{       
    list-style: none;  
    background-color: rgb(255, 255, 255);
        
}
.li-kinks-border{
    border-bottom: 2px solid #DDDDDD;
}
.navbar li a{   
    padding: 20px 0; 
    display: flex;
    justify-content: left;
    text-decoration: none;
    font-size: 20px;   
    color: #0145DC;      
}
.navbar h4{
    color: rgb(98, 98, 98);
}
.seta{
    width: 30px;   
}
.navbar li a:hover{
    color: rgb(255, 255, 255);
    background-color: #0145DC;
    font-weight: bold;
    padding: 20px 0px;
    border-radius: 10px;
    border-bottom: 0; 
}

.fotop{
    width: 300px;   
}
.footer{
    margin-top: 0px;  
    
    text-align: center;   
    background-color: rgb(255, 255, 255);
    /* height: 50px; */
    color: rgb(0, 0, 0);
    border-top: 3px solid #DDDDDD ; 
}
.footer span{
    color:#0145DC ;
}
