html,body{
    height: 100%;
}
body{
   
    margin: 0;
}
.container{
    text-align: center;
}
.capa{text-align: center;
    background: crimson;
    margin-top: -50px;
}
h1{
    color: rgb(0, 0, 0);
    margin: 0;
}
h2{
    margin: 0;
}
.foto{
    width: 420px;
    height: 400px;
    background-position: right center;
}
